@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;

https://colorhunt.co/
#B8E1DD - Background Color
#062925 - Logo Color & Fontawesome
#3A9188 - Heading Colors
#044A42 - Font Colors
*/

body {
    background-color: #B8E1DD;
    color: #044A42;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo navbar";
}

#logo {
    color: #062925;
    grid-area: logo;
}

#navbar {
    color: #062925;
    grid-area: navbar;
}

@media only screen and (max-width: 800px) {
    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "navbar";
    } 

}
