@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;

https://colorhunt.co/
#B8E1DD - Background Color
#062925 - Logo Color & Fontawesome
#3A9188 - Heading Colors
#044A42 - Font Colors
*/

body {
    background-color: #B8E1DD;
    color: #044A42;
}

/* ↓↓↓ LOGO AND NAVBAR ↓↓↓ */

header {
    margin: 2.5% 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo navbar";
}

#logo {
    color: #062925;
    font-size: 3.75rem;
    grid-area: logo;
    text-align: center;
    margin: 0;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    grid-area: navbar;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 2.5% 0 0 0;
}

#navbar li {
    display: inline;
    font-size: 1.25rem;
}

#navbar a {
    text-decoration: none;
    color: #062925;
    padding: 1% 2.5% 1% 2.5%;
    border-radius: 25px;
}

.active {
    text-decoration: underline;
}

#navbar a:hover {
    color: #B8E1DD;
    background-color: #062925;
}

/* ↑↑↑ LOGO AND NAVBAR ↑↑↑ */

/* ↓↓↓ FOOTER ↓↓↓ */

footer {
    margin: 2.5% 0;
}

#socials {
    list-style: none;
    padding: 0;
    text-align: center;
}

#socials li {
    display: inline;
}

#socials a {
    color: #062925;
    font-size: 3rem;
    padding: 0 7.5%;
}

/* ↑↑↑ FOOTER ↑↑↑ */

/* ↓↓↓ MEDIA QUERIES ↓↓↓ */

@media only screen and (max-width: 1000px) {

    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "navbar";
    }

    #socials a {
        padding: 0 3.5%;
    }
    
}

/* ↑↑↑ MEDIA QUERIES ↑↑↑ */
