@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;

https://colorhunt.co/
#B8E1DD - Background Color
#062925 - Logo Color & Fontawesome
#3A9188 - Heading Colors
#044A42 - Font Colors
*/

body {
    background-color: #B8E1DD;
    color: #044A42;
}

h2 {
    color: #3A9188;
    font-size: 2.5rem;
    margin: auto 0 0 0;
}

/* ↓↓↓ LOGO AND NAVBAR ↓↓↓ */

header {
    margin: 2.5% 0 10% 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo navbar";
}

#logo {
    color: #062925;
    font-size: 3.75rem;
    grid-area: logo;
    text-align: center;
    margin: 0;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    grid-area: navbar;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 2.5% 0 0 0;
}

#navbar li {
    display: inline;
    font-size: 1.25rem;
}

#navbar a {
    text-decoration: none;
    color: #062925;
    padding: 1% 2.5% 1% 2.5%;
    border-radius: 25px;
}

.active {
    text-decoration: underline;
}

#navbar a:hover {
    color: #B8E1DD;
    background-color: #062925;
}

/* ↑↑↑ LOGO AND NAVBAR ↑↑↑ */

/* ↓↓↓ LANDING PAGE STYLING ↓↓↓ */

#landingpage {
    display: grid;
    height: 750px;
    margin: 0 0 5% 0;
    grid-template-columns: 3.5% 31% 31% 31% 3.5%;
    grid-template-rows: auto auto 5% auto auto;
    grid-template-areas: 
    ". aboutus heavysquat whoweare ."
    ". aboutusp heavysquat whowearep ."
    ". . . . ."
    ". pistolsquat find frontsquat ."
    ". pistolsquat findp frontsquat .";
}

#aboutus {
    grid-area: aboutus;
}

#aboutusp {
    grid-area: aboutusp
}    

#find {
    grid-area: find;
}

#findp {
    grid-area: findp;
}

#whoweare {
    grid-area: whoweare;
}

#whowearep {
    grid-area: whowearep;
}

#frontsquat {
    grid-area: frontsquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

#heavysquat {
    grid-area: heavysquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

#pistolsquat {
    grid-area: pistolsquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

/* ↑↑↑ LANDING PAGE STYLING ↑↑↑ */

/* ↓↓↓ FORMS ↓↓↓ */

#forms {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: ". contact . signup .";
}

#contact {
    grid-area: contact;
}

#signup {
    grid-area: signup;
}

/* ↑↑↑ FORMS ↑↑↑ */

/* ↓↓↓ PLANS ↓↓↓ */

#plan {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas: 
    ". plan1 . ."
    ". plan1p . ."
    ". plan2 . ."
    ". plan2p . ."
    ". plan3 . ."
    ". plan3p . .";
}

#plan1 {
    grid-area: plan1;
}

#plan1p {
    grid-area: plan1p;
}

#plan2 {
    grid-area: plan2;
}

#plan2p {
    grid-area: plan2p;
}

#plan3 {
    grid-area: plan3;
}

#plan3p {
    grid-area: plan3p;
}

/* ↑↑↑ PLANS ↑↑↑ */

/* ↓↓↓ GALLERY FORMATTING ↓↓↓ */

#gallery {
    display: grid;
    height: 4000px;
    grid-template-columns: 2.5% 47.5% 47.5% 2.5%;
    grid-template-rows: 2.5% auto auto auto auto auto auto auto 2.5%;
    grid-template-areas:
    ". . . ."
    ". img1 img2 ."
    ". img1 . ."
    ". img3 img4 ."
    ". img8 img4 ."
    ". img5 img9 ."
    ". img6 img9 ."
    ". . img7 ."
    ". . . ."
    ;
}

#img1 {
    grid-area: img1;
    max-width: 100%; 
    max-height: auto;   
}

#img2 {
    grid-area: img2;
    max-width: 100%; 
    max-height: auto;        
}

#img3 {
    grid-area: img3;
    max-width: 100%; 
    max-height: auto;        
}

#img4 {
    grid-area: img4;
    max-width: 100%; 
    max-height: auto;        
}

#img5 {
    grid-area: img5;
    max-width: 100%; 
    max-height: auto;        
}

#img6 {
    grid-area: img6;
    max-width: 100%; 
    max-height: auto;        
}

#img7 {
    grid-area: img7;
    max-width: 100%; 
    max-height: auto;        
}

#img8 {
    grid-area: img8;  
    max-width: 100%; 
    max-height: auto;      
}

#img9 {
    grid-area: img9; 
    max-width: 100%; 
    max-height: auto;       
}

/* ↑↑↑ GALLERY FORMATTING ↑↑↑ */

/* ↓↓↓ THANK YOU MESSAGE ↓↓↓ */

.thankyoumessage {
    text-align: center;
}

/* ↑↑↑ THANK YOU MESSAGE ↑↑↑ */

/* ↓↓↓ FOOTER ↓↓↓ */

footer {
    margin: 10% 0 5% 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    text-align: center;
}

footer a {
    color: #062925;
    font-size: 3rem;
}

/* ↑↑↑ FOOTER ↑↑↑ */

/* ↓↓↓ MEDIA QUERIES ↓↓↓ */

@media only screen and (max-width: 1000px) {

    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "navbar";
    }

    #logo {
        font-size: 3.25rem;
    }

    #navbar li {
        font-size: 1rem;
    }

    #navbar a {
        padding: .5% 1% .5% 1%;
    }

    #landingpage {
        display: grid;
        height: 2000px;
        grid-template-columns: 3.5% 93% 3.5%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-areas: 
        ". aboutus ."
        ". aboutusp ."
        ". heavysquat ."
        ". . ."
        ". whoweare ."
        ". whowearep ."
        ". pistolsquat ."
        ". . ."
        ". find ."
        ". findp ."
        ". frontsquat ."
    }

    #forms {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: auto;
        grid-template-areas: 
        ". contact ."
        ". signup .";
    }

    #gallery {
        height: 1300px;
    }
    
}

/* ↑↑↑ MEDIA QUERIES ↑↑↑ */
