@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;

https://colorhunt.co/
#B8E1DD - Background Color
#062925 - Logo Color & Fontawesome
#3A9188 - Heading Colors
#044A42 - Font Colors
*/

body {
    background-color: #B8E1DD;
    color: #044A42;
}

h2 {
    color: #3A9188;
    font-size: 3rem;
}

/* ↓↓↓ LOGO AND NAVBAR ↓↓↓ */

header {
    margin: 2.5% 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo navbar";
}

#logo {
    color: #062925;
    font-size: 3.75rem;
    grid-area: logo;
    text-align: center;
    margin: 0;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    grid-area: navbar;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 2.5% 0 0 0;
}

#navbar li {
    display: inline;
    font-size: 1.25rem;
}

#navbar a {
    text-decoration: none;
    color: #062925;
    padding: 1% 2.5% 1% 2.5%;
    border-radius: 25px;
}

.active {
    text-decoration: underline;
}

#navbar a:hover {
    color: #B8E1DD;
    background-color: #062925;
}

/* ↑↑↑ LOGO AND NAVBAR ↑↑↑ */

/* ↓↓↓ LANDING PAGE STYLING ↓↓↓ */

#landingpage {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    ". aboutus heavysquat whoweare ."
    ". aboutusp heavysquat whowearep ."
    ". pistolsquat find frontsquat ."
    ". pistolsquat findp frontsquat .";
}

#aboutus {
    grid-area: aboutus;
}

#aboutusp {
    grid-area: aboutusp;
}

#find {
    grid-area: find;
}

#findp {
    grid-area: findp;
}

#whoweare {
    grid-area: whoweare;
}

#whowearep {
    grid-area: whowearep;
}

#frontsquat {
    grid-area: frontsquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

#heavysquat {
    grid-area: heavysquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

#pistolsquat {
    grid-area: pistolsquat;
    max-width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50px;
}

/* ↑↑↑ LANDING PAGE STYLING ↑↑↑ */

/* ↓↓↓ FOOTER ↓↓↓ */

footer {
    margin: 2.5% 0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}

footer a {
    color: #062925;
    font-size: 3rem;
}

/* ↑↑↑ FOOTER ↑↑↑ */

/* ↓↓↓ MEDIA QUERIES ↓↓↓ */

@media only screen and (max-width: 1000px) {

    header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "navbar";
    }
    
}

/* ↑↑↑ MEDIA QUERIES ↑↑↑ */
